:root {
 --light-accent: #ff00ff;
 --dark-accent: #bf00ff;
}

* {
 box-sizing: border-box;
}

body {
 font-family: sans-serif;
 background-image: url("./images/neon-grid.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 color: whitesmoke;
 padding: 50px;
}

* {
 scroll-behavior: smooth;
}

*:not(h1) {
 font-size: 1.1rem;
}

h1 {
 font-size: 1.9rem;
}

h4 {
 text-align: center;
 font-size: 1.3rem;
 margin-top: 0;
}

section {
 background-color: rgba(0, 0, 0, 0.6);
 max-width: 1000px;
 margin: auto;
 padding: 2rem 0;
 border-radius: 60px;
}

#response {
 font-size: 1.2rem;
 border: 3px double var(--light-accent);
}

#description {
 margin: 0 5%;
}

.hidden {
 display: none;
}

.display {
 display: block;
 position: relative;
 top: 3rem;
}

/* header and footer */

header,
footer {
 text-align: center;
}

header p {
 font-size: 0.9rem;
 opacity: 0.8;
}

h1 {
 color: var(--light-accent);
 font-family: monospace;
}

h3 {
 font-weight: 500;
}

footer {
 margin-top: 5rem;
 position: relative;
 top: 3rem;
}

footer a {
 color: var(--light-accent);
}

footer p {
 border-radius: 60px;
 padding: 0.5rem;
 background-color: rgba(0, 0, 0, 0.6);
 max-width: fit-content;
 margin: 0 auto 0.5rem;
}
/* form */

form {
 margin: 0 auto;
 width: 60%;
 padding: 2rem;
}

select,
textarea {
 padding: 10px;
 width: 100%;
 margin: 0.5rem 0 2rem;
 background-color: rgba(0, 0, 0, 0.3);
 border: 1px solid var(--dark-accent);
 color: whitesmoke;
}

option {
 background-color: rgba(0, 0, 0, 0.9);
}

select,
textarea,
label {
 display: block;
}

textarea {
 min-height: 20vh;
}

#submit,
#another-one {
 margin: 1rem auto 0;
 display: block;
 letter-spacing: 0.5px;
 padding: 0.5rem 2rem;
 border-radius: 10px;
 background-color: whitesmoke;
 border: 1px solid var(--dark-accent);
 transition: 200ms all ease-in-out;
 color: black;
 font-family: monospace;
}

#submit:hover,
#another-one:hover {
 background-color: var(--dark-accent);
 cursor: pointer;
}

/* responsive styling */

@media (max-width: 900px) {
 form {
  width: 80%;
 }
}

@media (max-width: 600px) {
 body {
  padding: 50px 10px;
 }

 section {
  max-width: 95vw;
 }

 #response {
  font-size: 1.1rem;
 }

 #submit {
  width: 50vw;
 }

 form {
  width: 90%;
 }
}
